<div class="container-fluid vh-100 p-0">
  <div class="form-container">
    <h2 class="sr-only">Brandy</h2>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a
          class="nav-link"
          [ngClass]="router.url === '/signin' ? 'active' : ''"
          aria-current="page"
          routerLink="/signin"
          >Zaloguj</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [ngClass]="router.url === '/signup' ? 'active' : ''"
          routerLink="/signup"
          >Zarejestruj</a
        >
      </li>
    </ul>
    <div class="form-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
