.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .card-wrapper {
    margin-top: 30px;
    .card {
      width: 500px;
      max-height: 700px;
      display: flex;
      flex-direction: row;
      .bar {
        width: 80px;
        align-self: stretch;
        background-color: #e9e9e9;
        .vote {
          margin-top: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .upvote.isLogged {
            &:hover {
              color: rgb(76, 175, 80);
            }
            &.active {
              color: rgb(76, 175, 80);
            }
          }
          .downvote.isLogged {
            &:hover {
              color: red;
            }
            &.active {
              color: red;
            }
          }
          .vote-count {
            padding: 10px 0;
            font-weight: bold;
          }
          .icon {
            color: rgba(0, 0, 0, 0.26);
            font-weight: bold;
            font-size: 27px;
            cursor: pointer;
          }
        }
      }
      .card-content {
        display: flex;
        max-height: 700px;
        width: 100%;
        flex-direction: column;
        padding-bottom: 10px;
        .header {
          display: flex;
          align-items: center;
          padding: 10px;
          .user {
            display: flex;
            align-items: center;
            .username {
              margin-left: 6px;
              font-weight: bold;
            }
          }
          .date {
            margin-left: 20px;
            .date-text {
              font-size: 13px;
              color: #b1b1b1;
            }
          }
        }
        .imageWrapper {
          margin: 0 auto;
          .card-img-top {
            display: block;
            object-fit: cover;
            max-height: 400px;
            height: 100%;
            margin: 0 auto;
            border-radius: 0;
          }
        }
        .action {
          padding: 10px;
          display: flex;
          align-items: center;
          cursor: pointer;
          .icon {
            color: #888;
          }
          .comment-count {
            margin-left: 10px;
          }
        }
      }
    }
  }
  .comment-section {
    width: 500px;

    .add-comment-section {
      width: 100%;
      display: flex;
    }

    .add-comment {
      margin-left: 5px;
      background: #673ab7;
      height: 40px;
      &:hover {
        background: #5d34a5;
      }
    }
    .input-container {
      flex-grow: 1;
      width: 100%;
    }
    .inputError {
      color: red;
    }
    .comment-section-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 20px;
      .name {
        margin-left: 10px;
      }
      .date {
        margin-left: 10px;
        font-size: 13px;
        color: #b1b1b1;
      }
      .bdge {
        height: 21px;
        background-color: orange;
        color: #fff;
        font-size: 11px;
        padding: 8px;
        border-radius: 4px;
        line-height: 3px;
      }
      .comment-text-sm {
        margin-top: 10px;
        padding-left: 15px;
      }

      .comments {
        text-decoration: underline;
        text-underline-position: under;
        cursor: pointer;
      }

      .dot {
        height: 7px;
        width: 7px;
        margin-top: 3px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
      }

      .hit-voting {
        cursor: pointer;
      }
    }
  }
  .circle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #673ab7;
    color: white;
  }
}
